<div class="card border border-secondary rounded m-3 monitorCard">
    <img class="p-4 card-img-top monitorImage" [src]="image" alt="Card image cap">
    <div class="card-body">
        <h5 class="d-flex justify-content-center card-title">{{name}}</h5>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item ">Resolution: {{resolution}}</li>
        <li class="list-group-item">Refresh Rate: {{refreshrate}}hz</li>
        <li class="list-group-item">Response time: {{responsetime}}ms</li>
        <li class="list-group-item">Display Size: {{displaysize}}"</li>

    </ul>
    <div class="d-flex justify-content-center card-body">
        <button class="m-1" mat-raised-button color="success">View</button>
        <button class="m-1" mat-raised-button color="primary">Compare</button>
    </div>
</div>