<div class="containter">
    
    <div class="row">
        <div class="d-flex col-8">
          <app-home-card name="Acer-predator-xb273kgpbmiipprzx" responsetime="1" displaysize="27" image="../assets/Images/acer-predator-xb273kgpbmiipprzx.jpg" resolution="3840x2160" refreshrate="144"> </app-home-card>
          <app-home-card name="Acer-predator-xb273kgpbmiipprzx" responsetime="1" displaysize="27" image="../assets/Images/acer-predator-xb273kgpbmiipprzx.jpg" resolution="3840x2160" refreshrate="144"> </app-home-card>
          <app-home-card name="Acer-predator-xb273kgpbmiipprzx" responsetime="1" displaysize="27" image="../assets/Images/acer-predator-xb273kgpbmiipprzx.jpg" resolution="3840x2160" refreshrate="144"> </app-home-card>
          <app-home-card name="Acer-predator-xb273kgpbmiipprzx" responsetime="1" displaysize="27" image="../assets/Images/acer-predator-xb273kgpbmiipprzx.jpg" resolution="3840x2160" refreshrate="144"> </app-home-card>
    </div>
    </div>
    
</div>

