.header{
    .label{
        font-size: 2rem;
        font-weight: 700;
    }

    .price-label{
        font-size: 0.7rem;
        font-style: italic;
    }
    .price{
        font-size: 3rem;
    }
}